<div class="row">
    <div class="profile  bg-light">
        <div class="profile-image-container"></div>
        <div class="profile-info-container">
            <div class="profile-pic"></div>
            <div class="profile-info">
                <form class="profile-form">
                    <div class="d-flex flex-wrap mx-2 px-5  my-2 border py-4 bg-white">
                        <div class="mx-2">
                            <label for="first-name-profile">First Name</label>
                            <input type="text" id="first-name-profile" />       
                        </div>
                        <div class="mx-2">
                            <label for="last-name-profile">Last Name</label>
                            <input type="text" id="last-name-profile" />
                        </div>

                        <div class="mx-2">
                            <label for="profile-pic">Profile Picture</label>
                            <input type="file" id="profile-pic" accept="image/*" />       
                        </div>
                    </div>
                    <div class="d-flex flex-wrap mx-2 px-5 my-3 border py-4 bg-white">

                        <div class="mx-2">
                            <label for="city-profile">City</label>
                            <input type="text" id="city-profile" />
                        </div>
                        <div class="mx-2">
                            <label for="state-profile">State</label>
                            <input type="text" id="state-profile" />
                        </div>
                        <div class="mx-2">
                            <label for="zipcode-profile">Zipcode</label>
                            <input type="text" id="zipcode-profile" />
                        </div>
                        <div class="mx-2">
                            <label for="country-profile">Country</label>
                            <input type="text" id="country-profile" />
                        </div>
                    </div>
                    <div class="d-flex flex-wrap mx-2 px-5 my-3 border py-4 bg-white">

                        <div class="mx-2">
                            <label for="skills-profile">Skills</label>
                            <input type="text" id="skills-profile" />
                        </div>

                    </div>
                    <div class="d-flex flex-wrap mx-2 px-5 my-3 border py-4 bg-white">

                        <div class="mx-2">
                            <label for="industry-profile">Industry</label>
                            <input type="text" id="industry-profile" />
                        </div>

                    </div>
                    <div class="d-flex flex-wrap mx-2 px-5 my-3 border py-4 bg-white">

                        <div class="mx-2">
                            <label for="school-profile">School</label>
                            <input type="text" id="school-profile" />
                        </div>

                    </div>
                    {{!-- <hr> --}}
                    <div class=" mx-2 px-5 my-3 border py-4 bg-white">

                        <div class="mx-2">
                            <label for="exprience-profile">Exprience</label>
                            <textarea type="text" id="exprience-profile"></textarea>
                        </div>

                    </div>



                    <div class="form-button">
                        <button type="submit">Save</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="jobs">wwwwwwwwwww</div>
</div>

