<div class="home-job-container">
    <section class="home-job-search-container"></section>
    <section class="home-job-list-container"></section>
</div>
<script src="/javascript/config.js"></script>
<script src="/javascript/homepage.js"></script>