<div class="home-job-container">
    <section class="home-job-search-container"></section>
    <section class="home-job-list-container"></section>
     <div class="jobs">
        <h3>Jobs</h3>
        <div>
            <ul>
                <li class="m-2 p-3 border bg-light">
                    <h6 class="m-1 p-2">software developer</h6>
                    <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi corrupti
                        suscipit perferendis
                        soluta adipisci, reiciendis eligendi iusto laborum eius ducimus?
                    </p>
                </li>
                <li class="m-2 p-3 border bg-light">
                    <h6>software developer</h6>
                    <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi corrupti
                        suscipit perferendis
                        soluta adipisci, reiciendis eligendi iusto laborum eius ducimus?
                    </p>
                </li>
                <li class="m-2 p-3 border bg-light">
                    <h6>software developer</h6>
                    <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi corrupti
                        suscipit perferendis
                        soluta adipisci, reiciendis eligendi iusto laborum eius ducimus?
                    </p>
                </li>
                <li class="m-2 p-3 border bg-light">
                    <h6>software developer</h6>
                    <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi corrupti
                        suscipit perferendis
                        soluta adipisci, reiciendis eligendi iusto laborum eius ducimus?
                    </p>
                </li>
                <li class="m-2 p-3 border bg-light">
                    <h6>software developer</h6>
                    <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi corrupti
                        suscipit perferendis
                        soluta adipisci, reiciendis eligendi iusto laborum eius ducimus?
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="/javascript/config.js"></script>
<script src="/javascript/homepage.js"></script>