<div class="welcome-container">
    <div class="welcome-page">
        <span class="brand-logo brand-logo-big"><i class="fab fa-connectdevelop"></i></span>
        <h1>Welcome</h1>
        <p>Lorem, ipsum dolor sit amet consectetur<br> adipisicing elit. Possimus, alias?</p>
    </div>
    <form class="login-form">
        <div class="logo">

            <span class="brand-logo-small"><i class="fab fa-connectdevelop"></i></span>

        </div>

        <h2>Sign in</h2>
        <hr>
        <div>
            <label for="email-login">Email</label>
            <input type="text" id="email-login" />
        </div>
        <div>
            <label for="password-login">Password</label>
            <input type="password" id="password-login" />
        </div>
        <div class="form-button">
            <button type="submit">Login</button>
        </div>
        <div class="form-link">
            <a href="/signup">Create New Account ?</a>
        </div>
    </form>
</div>


<script src="/javascript/login.js"></script>