<div class="welcome-container">
    <div class="welcome-page">
        <span class="brand-logo brand-logo-big"><i class="fab fa-connectdevelop"></i></span>
        
        <h1>Welcome</h1>
        <p>Lorem, ipsum dolor sit amet consectetur<br> adipisicing elit. Possimus, alias?</p>
    </div>
    <form class="signup-form">
        <div class="logo">

            <span class="brand-logo-small"><i class="fab fa-connectdevelop"></i></span>

        </div>
        <h2>Sign up</h2>
        {{!-- <hr> --}}
        <div>
            <label for="username-signup">Username</label>
            <input type="text" id="username-signup" />
        </div>
        <div>
            <label for="email-signup">Email</label>
            <input type="text" id="email-signup" />
        </div>
        <div>
            <label for="password-signup">Password</label>
            <input type="password" id="password-signup" />
        </div>
        {{!-- <div>
            <label for="profile-pic">Upload a Profile Image</label>
            <input type="file" id="profilePic" name="filename">
        </div> --}}
        
        <div class="form-button">
            <button type="submit">Sign up</button>
        </div>
        <div class="form-link">
            <a href="/login">Already have an account ?</a>
        </div>
    </form>
</div>

<script src="/javascript/signup.js"></script>