{{!---- post-info partials -----}}
<section class="post-comment-list">
    {{> post-info post}}






{{!-- {{#if loggedIn}} --}}
<form class="comment-form">
    <div>
        <input name="comment-body" placeholder="Write a comment" />
    </div>

    <div>
        <button type="submit">add comment</button>

    </div>
</form>
{{!-- {{/if}} --}}

{{!-- comment partials  --}}
{{> comments post.comments}}

</section>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>

{{/if}}